<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Location</h2>
  </div>
  <div class="container">
    <div class="row">
      
        <form class="form-inline" (ngSubmit)="onSubmit()">
          <div class="form-group mb-2">
            <label for="address"  class="mr-sm-2">Address</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="address" 
            required
            [(ngModel)]="search.query"
            name="query"/>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <label for="radius" class="mr-sm-2">Radius (Miles)</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="radius" 
            required
            [(ngModel)]="search.radius"
            name="radius"/>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
      
    </div>
  </div>

  <br />
  <br />
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>No.</th>
          <th>Id</th>
          <th>Location Name</th>
          <th>Lattitude</th>
          <th>Longtitude</th>
          <th> <button class="btn btn-success" mat-button (click)="openModal()">Add</button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let location of locations | async; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ location.id }}</td>
          <td>{{ location.locationName }}</td>
          <td>{{ location.lat }}</td>
          <td>{{ location.lng }}</td>
          <td>
            <button
              (click)="deleteLocation(location.id)"
              class="btn btn-danger"
            >
              X
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
